{% extends 'layout.njk' %}

    {% block content %}

        <div class="cards">

            {% for data in datas %}

    <div class="card" id="{{ datas.indexOf(data) }}">
        <img src="{{ data.image }}" alt="{{ data.title }}">
            <p class='title'>{{ data.tittle }}<p>
            <p class='author'>{{ data.author }}</p>
    </div>
        
            {% endfor %}

        </div>

        {#    <div class="modal-overlay">
            <div class="modal">
                <a class="close-modal">
                <i class="material-icons">
                    Fechar modal
                </i>
                </a>

                <div class="modal-content">
                    <iframe src="" frameborder="0"></iframe>
                </div>
                <div class="modal-title">
                    <iframe src="" framerborder="0"></iframe>
                </div>
                <div class="modal-author">
                    <iframe src="" framerborder="0"></iframe>
                </div>
            </div>
        </div>

        <header>
            <div class="rectangle_rigth">
                <div class="rigth">
                <p>Todos os direitos reservados, receitas Foodfy.</p>
                </div>
            </div>
        </header>

#}
        <script src="\scripts.js"></script>

{% endblock %}